body {
	font-size: 17px;
	font-family: "Verdana";
	background-color: #ccc;
}

.container-narrow {
	margin: 0 auto;
	max-width: 40em;
	padding: 1em;
	background-color: #eee;
}

.container-narrow > hr {
	margin: 30px 0;
}

h1 {
	font-size: 2em;
	font-weight: bold;
}

h2 {
	font-size: 1.6em;
	font-weight: bold;
}

h3 {
	font-size: 1.2em;
}

li {
	margin-bottom: 0.5em;
}

p.open {
	background: url("/assets/img/open.svg") no-repeat 0 0.4em;
	background-size: 40px;
	padding-left: 50px;
	margin-top: 1em;
}

blockquote {
	background-color: #ddd;
	padding: 1.2em 1.4em;
}

details {
	margin-bottom: 1em;
}

summary {
	padding: 0.5em 0.5em 0.5em  1em ;
	background-color: #ccc;
}